{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class = "container">
  <div class = "main">
    <div class = "row">
      <div class = "col-md-4 mt-1">
        <div class = "card text-center sidebar">
          <div class = "card-body">
            <img class="rounded-circle account-img" src="{% static 'MDMapp/images/user.png'%}" width = "150">
            <div class = "mt-3">
              <h3> Unknown User </h3>
              <a href = "{% url 'index' %}"> Home </a>
              <a href = "#"> Logout </a>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-8 mt-1">
        <div class = "card mb-3 content">
          <h1 class = "m-3 pt-3"> User Details </h1><i class = "fa fa-pencil" aria-hidden = "true"></i>
          <div class = "card-body">
            <div class = "row">
              <div class = "col-md-3">
                <h5> Full Names: </h5>
              </div>
              <div class = "col-md-9 text-secondary">
                Unknown User
              </div>
            </div>
            <hr>
            <div class = "row">
              <div class = "col-md-3">
                <h5> Username: </h5>
              </div>
              <div class = "col-md-9 text-secondary">
                UnknownUser2
              </div>
            </div>
            <hr>
            <div class = "row">
              <div class = "col-md-3">
                <h5> Email: </h5>
              </div>
              <div class = "col-md-9 text-secondary">
                Unknown@gmail.com
              </div>
            </div>
          </div>
        </div>
        <!-- This can be a part where it displays the users phone information maybe. This is just to fill the space
        it can be removed if not needed -->
        <div class = "card mb-3 content">
          <h1 class = "m-3"> Phone Details </h1>
          <div class = "card-body">
            <div class = "row">
              <div class = "col-md-3">
                <h5> Phone Name </h5>
              </div>
              <div class = "col-md-9 text-secondary">
                Huawei P30 Pro
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
