{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="ftco-section">
    	<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
        </div>
    </div>
        </div>
</section>
{% endblock content %}
