{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>MDM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'MDMapp/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'MDMapp/css/style2.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'MDMapp/images/bg.jpg' %});">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style = "background-color: darkkhaki;">
              <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'index' %}">MDM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link"  href="{% url 'index' %}">Home</a>
                    <a class="nav-item nav-link" href="#">About</a>
                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  </div>
                </div>
              </div>
            </nav>
          </header>
    {% block content %}
    {% endblock %}

	<script src="{% static 'MDMapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'MDMapp/js/popper.js' %}"></script>
    <script src="{% static 'MDMapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'MDMapp/js/main.js' %}"></script>

	</body>
</html>
