body{
    margin-top: 20px;
}

.main{
    padding: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    background-color: #333;
    color:white;
    height: 100%;
}

.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
   
}

.content{
    background-color: whitesmoke;
    opacity: .5;
}
